---
# Add a comment to make this file sass-y.
# Change this file for any custom CSS.
---

/* We need to add display:inline in order to align the '>>' of the 'read more' link */
.post-excerpt p {
	display:inline;
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import
	"syntax",
    "starsnonscss"
;


code {
    color: #ff8b52;
}

.card {
    background-color: #407E99;
}

.author-img {
    width: 45%;
    height: auto;
    margin: auto;
    margin-top: 25px;
    margin-bottom: 25px;    
    display: block;
    border-radius: 100%;
}
